<ion-view title="Fish app">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <ion-slide-box>
          <ion-slide>
            <div class="box fish"><img src="../img/compare-fish1.PNG"></div>
          </ion-slide>
          <ion-slide>
            <div class="box fish"><img src="../img/compare-fish2.PNG"></div>
          </ion-slide>
          <ion-slide>
            <div class="box fish"><img src="../img/compare-fish3.PNG"></div>
          </ion-slide>
        </ion-slide-box>
    </ion-content>
</ion-view>
